<h2 mat-dialog-title>{{ topicTitle }}</h2>

<mat-dialog-content class="messages-container">
  <div *ngIf="isLoadingMessages" class="loading-spinner">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  <mat-list *ngIf="!isLoadingMessages">
    <mat-list-item *ngFor="let msg of messages" class="message-item">
      <mat-icon class="avatar">account_circle</mat-icon>
      <div class="message-bubble">
        <div class="message-header">
          <span class="author">{{ msg.author.userPseudo.toUpperCase() }}</span>
          <span class="timestamp">{{ msg.createdAt | date:'short' }}</span>
        </div>
        <div class="message-text">{{ msg.content }}</div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>


<mat-dialog-actions class="message-input-container">
  <mat-form-field appearance="outline" class="input-message">
    <input
      matInput
      placeholder="Écrire un message..."
      [(ngModel)]="newMessageContent"
      (keyup.enter)="postMessage()"
    />
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="postMessage()" [disabled]="!newMessageContent.trim()">
    Envoyer
  </button>
</mat-dialog-actions>
