<h2>Bienvenue dans notre association</h2>

<p>
  L'objet de l'association est la promotion de la détection électromagnétique
  dite prospection de loisirs, à travers des actions de sensibilisation à la
  dépollution métallique et à l'aide à la découverte d'objets perdus. <br />
  - Elle agit en respect des lois en vigueur sur le Patrimoine, notamment
  l'Article L542-1 du Code du Patrimoine (reprenant la loi 89-900) <br />-
  Recherches d'objets perdu pour les particuliers et entreprises ; <br />-
  Dépollution des sites publics ou privés ;<br />
  - Organisations de rencontres annuelles et rallyes détection ;<br />
  - Ventes et distributions d'objets faisant la promotion de l'association et de
  la détection ;<br />
  - Ventes et distribution de nourriture et boissons au cours des évènements
  organisés ;<br />
  - Elle exerce toutes les activités et accomplit toutes les opérations tendant
  à réaliser cet objet, en France, dans l'Union Européenne et à l'étranger.
</p>
