/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-dialog-container.create-topic {
  width: 80vw !important;
  height: 80vh !important;
  max-width: 90vw !important;
  max-height: 90vh !important;
  border-radius: 20px;
  padding: 1rem;
  box-sizing: border-box;
}
